*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* primeira parte do header */
body{
    background-color: rgb(0, 0, 0);
    color: #332668;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
  
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header>div{
    display: flex;
    align-items: center;
}

div>h1{
    padding-left: 19px;
}

header>nav{
    font-size: 20px;
    color: #332668;
    gap: 93px; 
    display: flex;
}
 
nav>a{
    font-size: 20px;
    color: #332668;
}

/* segunda parte do header */

/* .partOne{
 display: flex;
 flex-direction: column;
 width: 545px;
 height: 240px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-left: 251px;
padding-top: 330px;
}

.partOne>span{
font-size: 72px;
}

.partOne>h1{
font-size: 24px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

div>button{
    background-color: #332668;
    color: rgb(255, 255, 255);
    width: 310px;
    height: 65px;
    border-radius: 20px;
    margin-top: 130px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

.socialNetworks{
margin-top: 172px;
display: flex;
gap: 16px;

} */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 282px;
    width: 100%;
    height: 1080px;
}

.presentation>h1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
font-size: 64px;
}
.presentation>p{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 19px;
}

.skills>h1{
font-size: 64px;
margin-top: 108px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lineOne{
margin-top: 62px;
display: flex;
gap: 50px;
}

.lineTwo{
    margin-top: 62px;
    display: flex;
    gap: 50px;
    }

.mytechs{
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.used>h1{
    font-size: 24px;
    margin-top: 117px;
}

.used>h2{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5A3084;
}

.usedImage{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    align-items: center;
    padding-left: 140px;
}

.developing>h1{
    font-size: 24px;
    margin-top: 117px;
}

.developing>h2{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5A3084;
}

.developingImage{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    align-items: center;
    padding-left: 60px;
} 
@media (max-width: 390px) {

header{
    flex-direction: column;
    padding-left: 40px;
}

header>div{
    display: flex;
   padding-right: 90px;
}

div>.symbol{
    width: 35px;
    height: 39px;
    margin-top: 10px;
}

div>h1{
    font-size: 15px;
}

header>nav{
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
width: 311px;
height: 58px;
margin-top: 31px;
}

nav>a{
text-align: center;
font-size: 16px;
}
/* header concluido */

.test{
    display: flex;
flex-direction: column;
align-items: center;
margin-top: 83px;
}

.partOne>h1{
    font-size: 16px;
    padding-right: 200px;
    margin-top: 8px;

}

.partOne>span{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


button{
    width: 143px;
    height: 30px;
    border-radius: 20px;
    background-color: #332668;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 44px;  
    margin-right: 196px; 
}

.partOne{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.skin{
    width: 201px;
    height: 199px;
}
   
}