*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/* primeira parte do header */
body{
    background-color: rgb(0, 0, 0);
    color: #332668;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
  
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header>div{
    display: flex;
    align-items: center;
}

div>h1{
    padding-left: 19px;
}

header>nav{
    font-size: 20px;
    color: #332668;
    gap: 93px; 
    display: flex;
}
 
nav>a{
    font-size: 20px;
    color: #332668;
}

/* segunda parte do header */

.partOne{
 display: flex;
 flex-direction: column;
 width: 545px;
 height: 240px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-left: 251px;
padding-top: 330px;
}

.partOne>span{
font-size: 72px;
}

.partOne>h1{
font-size: 24px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div>button{
    background-color: #332668;
    color: white;
    width: 310px;
    height: 65px;
    border-radius: 20px;
    margin-top: 130px;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.socialNetworks{
margin-top: 172px;
display: flex;
gap: 16px;
padding-right: 160px  ;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 282px;
}

.presentation>h1{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
font-size: 64px;
}
.presentation>p{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 19px;
}

.skills>h1{
font-size: 64px;
margin-top: 108px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lineOne{
margin-top: 62px;
display: flex;
gap: 50px;
}

.lineTwo{
    margin-top: 62px;
    display: flex;
    gap: 50px;
    }

.mytechs{
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.used>h1{
    font-size: 24px;
    margin-top: 117px;
}

.used>h2{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5A3084;
}

.usedImage{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    align-items: center;
    padding-left: 140px;
}

.developing>h1{
    font-size: 24px;
    margin-top: 117px;
}

.developing>h2{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5A3084;
}

.developingImage{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    align-items: center;
    padding-left: 60px;
}
