body{
    width: 100%;
}

.tudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nome{
    display: flex;
    flex-direction: row;
    gap: 7px;
    color: #332668;
    font-size: 26px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav{
    display: flex;
    flex-direction: row;
    gap: 93px;
}

nav>a{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
}
/* header feito */

.apresentation>h1{
font-size: 24px;
color: #332668;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.apresentation>span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    color: #332668;
}

.apresentation{
    margin-top: 330px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

button{
    width: 310px;
    height: 65px;
    border-radius: 20px;
    background-color: #332668;
    color: white;
    font-size: 24px;
    margin-top: 130px;
}

.socialNetworks{
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin-top: 172px;
}


main {
    display: flex;
    justify-content: center;
}

.skin{
    margin-top: 289px;
}

/* part1 feito */

.Bruno{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 282px;
}

.Bruno>h1{
    font-size: 64px;
    color: #332668;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.Bruno>p{
    font-size: 24px;
    color: #332668;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hardSkills>h1{
    font-size: 64px;
    color: #332668;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.niveis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.hs2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 71px; 
}

/* part2 feita */

.mt>h1{
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #332668;
    text-align: center;
    margin-top: 133px;
}

.mt>p{
    color: #5A3084;
    font-size: 24px;
    text-align: center;
    margin-top: 117px;
}

.Ja{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #332668;
    text-align: center;
}

.Used{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.t2{
    color: #5A3084;
    font-size: 24px;
    text-align: center;
    margin-top: 117px; 
}

.ad{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #332668;
    text-align: center;
}

.Developing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.tudao{
    height: 1080px;
}