body{
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.tudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nome{
    display: flex;
    flex-direction: row;
    gap: 7px;
    color: #332668;
    font-size: 26px;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav{
    display: flex;
    flex-direction: row;
    gap: 93px;
}

nav>a{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.tudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
}
/* header feito */

.apresentation>h1{
font-size: 24px;
color: #332668;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.apresentation>span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 72px;
    color: #332668;
}

.apresentation{
    margin-top: 330px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

button{
    width: 310px;
    height: 65px;
    border-radius: 20px;
    background-color: #332668;
    color: white;
    font-size: 24px;
    margin-top: 130px;
}

.socialNetworks{
    display: flex;
    flex-direction: row;
    gap: 26px;
    margin-top: 172px;
}


main {
    display: flex;
    justify-content: center;
}

.skin{
    margin-top: 289px;
}

/* part1 feito */

.Bruno{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 282px;
}

.Bruno>h1{
    font-size: 64px;
    color: #332668;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.Bruno>p{
    font-size: 24px;
    color: #332668;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hardSkills>h1{
    font-size: 64px;
    color: #332668;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.niveis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.hs2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 71px; 
}

/* part2 feita */

.mt>h1{
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #332668;
    text-align: center;
    margin-top: 133px;
}

.mt>p{
    color: #5A3084;
    font-size: 24px;
    text-align: center;
    margin-top: 117px;
}

.Ja{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #332668;
    text-align: center;
}

.Used{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.t2{
    color: #5A3084;
    font-size: 24px;
    text-align: center;
    margin-top: 117px; 
}

.ad{
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #332668;
    text-align: center;
}

.Developing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 65px;
}

.tudao{
    height: 1080px;
}

@media (max-width:400px){
.symbol{
    width:35px ;
    height: 39px;
}
.nome>h1{
font-size: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 245px;
    height: 1px;
    flex-wrap: wrap;
}
header{
    width: 100%;
    display: flex;
flex-direction: column;
}
.tudo{
    display: flex;
    flex-direction: column;
}
.nome{
    width: 317px;
    height: 19px;
}
nav>a{
    font-size: 13px;
}
.skin{
    width: 201px;
    height: 199px;
}
.apresentation>h1{
    font-size: 16px;
}
.apresentation>span{
    font-size: 20px;
}
button{
    width: 143px;
    height: 30px;
    border-radius: 20px;
    font-size: 11px;
}
.socialNetworks{
    width: 86px;
    height: 21px;
    display: flex;
    flex-direction: row;
    gap: 13px;
}
.tudomain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.Bruno>h1{
    font-size: 20px;
}
.Bruno>p{
    font-size: 14px;
}
.hardSkills>h1{
    font-size: 20px;
}
.niveis{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.niveis>img{
    width: 83px;
    height: 39px;
}
.hs2{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
.hs2>img{
    width: 83px;
    height: 39px;
}
.mt>h1{
    font-size: 20px;
}
.mt>p{
    font-size: 20px;
}
.Ja{
    font-size: 16px;
}
.Used{
    width: 400px;
}
.Used>img{
    width: 39px;
    height: 39px;
}
.t2{
    font-size: 20px;
}
.ad{
    font-size: 16px;
}
.Developin{
    width: 400px;
    display: flex;
    gap: 3px;
}
.Developing>img{
    width: 39px;
    height: 39px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
body{
    background-color: rgb(10, 10, 10);
}
}